.App {
  position: relative;
  background-color: #ffffff;
  margin-left: 5%;
  margin-right: 5%;
}

main {
  min-height: 0vh;
}

.container {
  max-width: 100% !important;
  padding: 0 30px;
}

.btn-primary {
  background-color: #005ccc;
  border-color: #005ccc;
}

.btn-primary:hover {
  background-color: #004ba3;
  border-color: #004ba3;
}

.btn-outline-primary:hover {
  background-color: #005ccc;
  border-color: #005ccc;
}

.breadcrumb {
  background-color: transparent;
  padding: 0;
}

.breadcrumb-item a {
  color: #005ccc;
  text-decoration: none;
}

.breadcrumb-item.active {
  color: #6c757d;
}

.carousel-caption-blur {
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  padding: 20px;
  width: 100%;
  left: 0;
  right: 0;
  bottom: 0;
}